.GeneratePassword {
  position: absolute;
  background: white;
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.39);
  border-radius: 5px;
  width: 300px;
}

.GeneratePassword .PasswordValue {
  background: #11c511;
  padding: 10px;
  color: white;
  margin-bottom: 10px;
  border-radius: 5px 5px 0 0;
  word-break: break-all;
}

.GeneratePassword .FormContent {
  padding: 20px;
}
