.PasswordList {
  align-items: center;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: left;
  flex-flow: column nowrap;
  place-content: stretch flex-start;
  align-items: stretch;
  overflow-y: scroll;
}

.SpacingArea {
  margin: 20px;
}
