.PasswordList {
  align-items: center;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  background-color: red;
  display: flex;
  justify-content: left;
  flex-flow: column nowrap;
  place-content: stretch flex-start;
  align-items: stretch;
}
